.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 200px;
}

.nav-item > ul{
    display: flex;
    list-style-type: none;
    font-size: larger;
}

.nav-item > ul> li {
    padding: 10px;
    margin: 10px;
}

.res-logo{
    width:200px;
    height: 100px;
}
.cart{
    width: 200px;
    height: 300px;
    margin: 20px;
}
.cart:hover {
    cursor: pointer;
    border: 1px solid black;
}
.search{
    padding: 10px ;
}
.rest-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px ;
}
.filter-button{
    margin: 5px;
    cursor: pointer;
}

.shimmer-card {
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 20px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}